flask
fastapi
uvicorn
strawberry-graphql[flask]
sqlalchemy
psycopg2-binary
python-dotenv
flasgger
faker
pytest
httpx
requests
schemathesis
pact-python


##### librerias para calidad de codigo y seguridad #####
pylint
flake8
black
isort
mypy
radon
bandit
pip-audit
